.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;

    height: 60px;
    background-color: rgb(67, 88, 72);
    padding: 0 20vw;
    color: white;
    font-size: 1em;

    &_Title {
        padding: 0 24px;
    }

    &_Search {
    }

    &_Links {
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }

    &_Link {
        text-decoration: none;
        font-size: 1em;
        width: 43px;
        color: white;
        padding: 0 24px;
        height: 100%;
        display: flex;
        align-items: center;
    }
}
