.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 60px;
    background-color: #324759;
    color: #fefefe;
    font-size: 1em;

    &_Title {
        padding: 0 24px;
    }

    &_Links {
        display: flex;
        justify-content: flex-end;
        height: 100%;
    }

    &_Link {
        text-decoration: none;
        font-size: 1em;
        width: 50%;
        color: white;
        padding: 0 24px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &_Cart {
        font-size: 1.5em;
    }
    &_Badge {
        position: relative;
        right: 7px;
        bottom: 7px;
        transform: scale(70%);
        background-color: red;
    }
}
