.Interface {
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.Select {
    max-width: 600px;
    width: 85vw;
    display: flex;
    justify-content: space-between;

    &_Options {
        max-width: 600px;
        border-radius: 6px;
    }
    &_Delete {
        background-color: red;
    }
}

.Form {
    max-width: 600px;
    width: 85vw;
}
