.Card {
    width: 300px;
    height: 500px;
    border: 5px solid #324759;
    background-color: #f3e0be;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
    &_Img {
        height: 330px;
        width: min-content;
    }
    &_Price {
        font-size: 1.5rem;
    }
    &_Info {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
}

.Card:hover {
    background-color: #fcedd5;
}

.Heart {
    position: relative;
    left: 250px;
    bottom: 475px;
    font-size: 1.7rem;
    color: #324759;
    &_Fill {
        position: relative;
        font-size: 1.7rem;
        color: #324759;
        left: 222.5px;
        bottom: 475px;
        opacity: 0;
        transition: ease-out;
        transition-duration: 0.2s;
        cursor: pointer;
        &__active {
            opacity: 1;
            transition: ease-in;
            transition-duration: 0.2s;
        }
    }
}
