.Footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    position: relative;
    bottom: 0;
    background-color: #687a86;
    color: black;
    padding: 0 24px;
}
