.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12vw;
    background-image: url(./assets/img/bg.svg);
    // background-attachment: fixed;
    background-repeat: no-repeat;
    // background-color: #687a86;
    padding-bottom: 120px;
}
